@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* Headings */
h1 {
	font-size: $primary-font-size;
	color: $font-color;
}

h2 {
	font-size: $secondary-font-size;
	text-align: center;
}

body {
	font-family: $primary-font;
	background:url($background-image) bottom right no-repeat; 
	background-attachment:fixed;
	background-size:100%;
}

img{
  max-width: 100%;
}

/*Navbar properties*/
nav{
	top: 0;
	width: 100%;
	position: fixed; 
	background: $navbar-blue;
	ul {
		padding: 10px;
		margin: 0 auto;
		list-style: none;
		text-align: center;
		li {
			display: inline-block;
			margin: 0 10px;
			a {
				padding: 10px 0;
				color: $white;
				font-size: 1rem;
				text-decoration: none;
				font-weight: bold;
				transition: all 0.2s ease;
			}
		}
	}
}

nav a.active {
	border-bottom: 2px solid $white;
}

/*Navbar transitions*/
nav,
a, 
li{
	@include nav-transitions(1s);
}

/* Sizes for the bigger menu */
nav.large{
	height: 100px;
	li{
		margin-top: 20px;
	}
}

/* Sizes for the smaller menu */
nav.small{ 
	height: 50px; 
	li{ 
		margin-top: 5px; 
	}
}