@mixin border-radius($radius){
 -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
     -ms-border-radius: $radius;
      -o-border-radius: $radius;
         border-radius: $radius;
}

@mixin transform($p1, $p2){
 -webkit-transform: translate($p1, $p2);
    -moz-transform: translate($p1, $p2);
     -ms-transform: translate($p1, $p2);
      -o-transform: translate($p1, $p2);
         transform: translate($p1, $p2);
}

@mixin transition($time){
 -webkit-transition: opacity $time;
    -moz-transition: opacity $time;
     -ms-transition: opacity $time;
      -o-transition: opacity $time;
         transition: opacity $time;
}

@mixin nav-transitions($time){
-webkit-transition: all $time;
   -moz-transition: all $time;
    -ms-transition: all $time;
     -o-transition: all $time;
        transition: all $time;
}