$white          : #FFFFFF;
$navbar-blue    : #003366;

$primary-font : 'Montserrat', sans-serif;
$primary-font-size : 4rem;
$secondary-font-size: 1rem;
$font-color: #34495E;

$background-image: '/images/Portrait.jpg';
$default-border-radius : 5px;

$section-height : 100vh;
$section-width : 100%;
$divider-thickness: 4px;

$carousel-width : 903px;
$carousel-height : 600px;
$carousel-background-color: #000000;
$arrow-height : 64px;
$arrow-width : 64px;
$right-scroll-bottom : 332px;
$right-scroll-right : -840px;
$left-scroll-top : 350px;
$left-scroll-right : 0px;