@import "compass";
@import "compass/reset";

@import "variables";
@import "mixins";
@import "base";

section {
	width: $section-width;
	height: $section-height;
	border-bottom: 1px solid $white;
	text-align: center;
	overflow: hidden;
}

.sections section:first-child {
	margin-top: 100px;
}

.sections section:last-child {
	border-top: 50px;
}

/* About Text*/
.column-left{ 
	color: $font-color;
	float: left; 
	width: 33%;
	a:link { color: $font-color; }
	a:visited { color: $font-color; }
	a:hover { color: $font-color; }
	a:active { color: $font-color; }
}

.column-right{
	color: $font-color;
	float: right; 
	width: 33%;
}
.column-center{ 
	color: $font-color;
	display: inline-block; 
	width: 33%; 
	padding: 10px;
	border-right: $divider-thickness solid $font-color;
	border-left: $divider-thickness solid $font-color;
}

/* Popup*/
.overlay {
    background-color: rgba(0, 0, 0, 0.6);
    bottom: 0;
    cursor: default;
    left: 0;
    opacity: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;

    @include transition(1s);
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
.popup {
	background-color: $white;
    display: inline-block;
    left: 50%;
    opacity: 0;
    padding: 15px;
    position: fixed;
    text-align: justify;
    top: 40%;
    visibility: hidden;
    z-index: 10;

	@include border-radius($default-border-radius);
	@include transform(-50%, -50%);
	@include transition(1s);
}

.overlay:target+.popup {
    top: 50%;
    opacity: 1;
    visibility: visible;
}

.popup p, .popup div {
    margin-bottom: 10px;
}

/*Carousel*/
.carousel {
    width: $carousel-width;
    background: $carousel-background-color;
    position: relative;
}
#scroll_properties{
height:$arrow-height;  
width:$arrow-width;
position:relative;
float: left;
z-index: 1;
}
#right_scroll{
@extend #scroll_properties;
bottom: 332px;
right: -840px;
}
#left_scroll{
@extend #scroll_properties;
top: 350px;
right: 0px;
}
#left_scroll img, #right_scroll img{
    cursor: hand;
}
#carousel_inner {
width:$carousel-width;
height:$carousel-height;
float:left;
overflow: hidden;
background: $carousel-background-color;
}
/*CHECK NEGATIVE VALUES*/
#carousel_ul {
position:relative;
left:-$carousel-width;
list-style-type: none;
margin: 0px;
padding: 0px;
width:9999px;
}

#carousel_ul li{
width:$carousel-width;
height:$carousel-height;
float: left;
background: $carousel-background-color;
}

#carousel_ul li img {
cursor:pointer;
cursor: hand; 
}